:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--tittle-container {
  width: 90%;
  min-width: 20%;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--tittle-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header--tittle-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--button {
  position: absolute;
  top: 270px;
  left: calc(50% - 118px);
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Shadows */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/img/Bitcoin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.main-tables-container {
  display: grid;
  width: 180px;
  height: 246px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  margin-bottom: 49px;
}
.tables__title p {
  text-align: left;
  margin-bottom: 12px;
  color: var(--bitcoin-orange);
  font-size: 1.8rem;
  font-weight: 700;
}
.tables__container-table {
  display: grid;
  grid-template-columns: 87px 62px auto;
  grid-template-rows: auto auto auto auto;
  width: auto;
  background-color: var(--just-white);
  border-radius: 8px;
}
.tables__container-table p {
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #b5b0ac;
}
.tables__container-table--text {
  text-align: left;
}

.tables__act,
.tables__act-2 {
  margin-top: 16px;
  background-color: var(--soft-orange);
  height: 30px;
  border-radius: 8px;
}

.tables__act p span {
  color: var(--warm-black);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.tables__act p {
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--warm-black);
  margin-bottom: 0px;
}

.tables__title-2 p {
  color: var(--secondary-blue);
}
.tables__act-2 {
  background-color: var(--soft-blue);
}
